* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto Slab', serif;
	padding: 5px;
}
main {
	display: flex;
	flex-wrap: wrap;
}
section {
	padding: 40px;
	margin: 5px;
	text-align: center;
	width: calc(20vw - 12px);
	display: flex;
	flex-direction: column;
	color: #03344A;
	background-color: rgba(239,240,234,.8);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
div.animated {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: #03344A;
	margin: auto auto 30px auto;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
section:hover {
	color: #FFA000;
	background-color: rgba(239,240,234,.4);
	/*transform: scale(1.2);
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,1);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);*/
}
section:hover div.animated {
	background: #FFA000;
}
.active {
	background: red;
}