.animationOutput__block {
	transition: all .5s ease-in-out;
}
.animated {
	position: relative;
	transition: inherit;
}
.animated:hover {
	cursor: default;
}

/* -- LINKS -- */

a.animated {
	color: #FFA000;
	font-size: 25px;
	text-decoration: none;
}

/* Link 1 */
.link1:after {
	content: '';
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: -20px;
	left: 0;
	opacity: 0;
	background: #FFA000;
	transition: inherit;
}
.link1active.link1:after {
	opacity: 1;
	bottom: -10px;
}

/* Link 2 */
.link2:after, .link2:before {
	content: '';
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: -10px;
	left: 0;
	background: #FFA000;
	transition: inherit;
}
.link2active.link2:before {
	bottom: 33px;
}

/* Link 3 */
.link3:after {
	content: '';
	width: 0;
	height: 3px;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	background: #FFA000;
	transition: inherit;
}
.link3active.link3:after {
	width: 100%;
}