* {
	box-sizing: border-box;
}
body {
	font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B";
	color: #03344A;
}
.easing:focus, .duration:focus, .animationSpecs__button:focus {
	outline: none;
}

/* HEADER */
header {
	background: #03344A;
	display: flex;
	color: white;
	padding: 28px 50px;
	margin-bottom: 80px;
}
header img {
	width: 166px;
}
header h1 {
	font-size: 16px;
	margin-left: 50px;
}
h3 {
	font-size: 26px;
	font-weight: 400;
}

/* NAVIGATION */
nav {
	position: absolute;
	left: 22px;
	top: 160px;
	width: 210px;
}
.mainNav > li {
	position: relative;
	font-size: 14px;
	padding: 16px 0 16px 21px;
	transition: all .2s ease-in-out;
	font-weight: 500;
}
.mainNav > li:first-child {
	padding-top: 0;
}
nav li:hover {
	cursor: pointer;
}
.mainNav > li:before {
	content: '';
	background: url('../images/chevron.svg') no-repeat;
	position: absolute;
	bottom: 17px;
	left: 0;
	width: 7px;
	height: 12px;
	transition: all .2s ease-in-out;
}
.mainNav li.activeMainNav:before {
	transform: rotate(90deg);
}
/* Sub nav */
.subNav {
	height: 0;
	overflow: hidden;
	transition: height .2s ease-in-out;
}
.subNav li {
	font-size: 14px;
	line-height: 28px;
	padding-left: 22px;
	font-weight: 400;
	transition: color .1s ease-in-out;
}
.activeSubNavDropdown {
	height: 84px;
	margin: 16px 0 24px;
}
.subNav .activeSubNav {
	font-weight: 500;
	color: #FFA000;
}
/* END NAVIGATION */

/* CONTENT */
main section.content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	z-index: -1;
	height: 0;
	transform: translateY(-50%);
	overflow: hidden;
	transition: all .4s ease-in-out;
	margin: auto;
	max-width: 940px;
	opacity: 0;
}
main section.activeContent {
	margin-left: 400px;
	height: auto;
	transform: translateY(0%);
	opacity: 1;
}
.animation-title {
	font-size: 36px;
	position: relative;
	padding-bottom: 30px;
	margin-bottom: 25px;
	font-weight: 400;
}
.animation-title:after {
	width: 25px;
	height: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #FFA000;
	border-radius: 10px;
}
.animation-description {
	font-family: 'merriweatherlight';
	line-height: 28px;
	font-size: 14px;
	margin-bottom: 70px;
}
/* END CONTENT */

/* ANIMATION */
.animation {
	display: flex;
}
.animation__specs {
	margin-right: 20px;
}
.animation__output {
	margin-left: 20px;
}
.animationSpecs__block, .animationOutput__block {
	border: 1px solid #EFF0EA;
	padding: 40px;
	margin-top: 35px;
	display: flex;
}
.animationSpecs__block {
	flex-direction: column;
	width: 380px;
}
.animationSpecs__block label {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 7px;
}
.animationSpecs__block .duration, .animationSpecs__block .easing {
	margin-bottom: 30px;
	color: #03344A;
	font-size: 20px;
	padding: 12px 40px 12px 18px;
	border: 1px solid #03344A;
	border-radius: 5px;
	font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B";
}
.animationSpecs__block .easing {
	height: 50px;
	background: white;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../images/chevron-down.svg') no-repeat;
    background-position: top 22px right 18px;
}
.animationSpecs__block .duration {
	width: 220px;
	padding-right: 18px;
}
.seconds {
	font-size: 14px;
	color: #7F8176;
	font-weight: 400;
	margin-left: 15px;
}
.animationSpecs__button {
	border: 1px solid #FFA000;
	border-radius: 5px;
	font-weight: 500;
	background: white;
	height: 50px;
	color: #FFA000;
	font-size: 18px;
	font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B";
	transition: background .2s ease-in-out;
}
.animationSpecs__button:hover {
	cursor: pointer;
	background: #FFA000;
	color: white;
}
/* END ANIMATION */











