.animated {
	position: relative;
	transition: all .2s ease-in-out;
}

/* -- LINKS -- */

/* Link 1 */
.link1:after {
	content: '';
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: -20px;
	left: 0;
	opacity: 0;
	background: #FFA000;
	transition: all .2s ease-in-out;
}
.link1active.link1:after {
	opacity: 1;
	bottom: -10px;
}

/* Link 1 */
.link2:after {
	content: '';
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: 10px;
	left: 0;
	opacity: 0;
	background: #FFA000;
	transition: all .2s ease-in-out;
}
.link2active.link2:after {
	opacity: 1;
	bottom: -10px;
}

/* Link 3 */
.link3:after {
	content: ' \2192';
	color: #FFA000;
	transition: all .2s ease-in-out;
}
.link3active.link3:after {
	padding-left: 15px;
}

/* Link 4 */
.link4:after {
	content: ' \2192';
	color: #FFA000;
	transition: all .2s ease-in-out;
}
.link4active {
	padding-left: 15px;
}

/* Link 5 */
.link5:after, .link5:before {
	content: '';
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: -10px;
	left: 0;
	background: #FFA000;
	transition: all .2s ease-in-out;
}
.link5active.link5:before {
	bottom: 25px;
}

/* Link 6 */
.link6:after {
	content: '';
	width: 0;
	height: 3px;
	position: absolute;
	bottom: -10px;
	left: 0;
	background: #FFA000;
	transition: all .2s ease-in-out;
}
.link6active.link6:after {
	width: 100%;
}

/* Link 7 */
.link7:after {
	content: '';
	width: 0;
	height: 3px;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	background: #FFA000;
	transition: all .2s ease-in-out;
}
.link7active.link7:after {
	width: 100%;
}

/* -- END LINKS -- */



/* -- BUTTONS -- */

button {
	margin-bottom: 40px;
	padding: 15px 30px;
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	border: none;
	color: white;
	background: rgba(3,52,74,.7);
	font-weight: 300;
}
button:focus {
  outline: none;
}
button:hover {
	cursor: pointer;
}

/* Button 1 */
.button1active {
	background: #FFA917;
}

/* Button 2 */
.button2:after {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	background: #03344A;
	width: 0;
	height: 4px;
	transition: all .2s ease-in-out;
}
.button2active.button2:after {
	width: 100%;
}

/* Button 3 */
.button3:after {
	content: '';
	width: 0;
	height: 4px;
	position: absolute;
	bottom: -4px;
	left: 50%;
	transform: translateX(-50%);
	transition: all .2s ease-in-out;
	background: #03344A;
}
.button3active.button3:after {
	width: 100%;
}

/* Button 4 */
.button4 {
	padding-right: 70px;
}
.button4:after {
	content: '\2192';
	padding: 15px;
	right: 0;
	top: 0;
	position: absolute;
	transition: all .2s ease-in-out;
	background: #03344A;
}
.button4active {
	background: #03344A;
}
.button4active.button4:after {
	right: -10px;
}


