* {
	box-sizing: border-box;
}
::-moz-selection {
	background: none;
}
::selection {
	background: none;
}
body {
	font-family: 'Roboto Slab', serif;
}

/* NAVIGATION */
nav {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	width: 190px;
}
nav li {
	border-bottom: 1px solid rgba(0,0,0,.15);
	padding: 20px;
	color: rgba(0,0,0,.3);
	position: relative;

	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
nav li:after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 0;
	height: 4px;
	background: #03344A;

	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
nav li:hover {
	color: #03344A;
	border-bottom: 1px solid #03344A;
	padding-left: 25px;
	cursor: pointer;
}
nav li:hover:after {
	width: 100%;
}
nav li.activeNav {
	color: #FFAD22;
	border-bottom: 1px solid #FFAD22;
}
nav li.activeNav:after {
	background: #FFAD22;
}
/* END NAVIGATION */

/* LOGO */
main section {
	display: flex;
	flex-wrap: wrap;
	z-index: -1;
	height: 0;
	transform: translateY(-50%);
	overflow: hidden;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	margin: auto;
	opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
main section.activeContent {
	margin: 5px 300px 5px 300px;
	height: auto;
	transform: translateY(0%);
	opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
main div {
	width: calc(25% - 10px);
	text-align: center;
	background: rgba(239,240,234,.8);
	padding: 40px 30px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	margin: 5px;
	color: rgba(0,0,0,.4);
}
main div a {
	margin-bottom: 40px;
	display: inline-block;
	text-decoration: none;
	color: #FFA000;
	opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	font-size: 20px;
}
main div img {
	max-width: 100%;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	opacity: .4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    -webkit-backface-visibility: hidden;
    margin-bottom: 30px;
}
main div:hover {
	background-color: rgba(239,240,234,.4);
	color: rgba(0,0,0,.7);
	cursor: pointer;
}
main div:hover a {
	opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
main div:hover img {
	-webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/* END LOGO */

@media (max-width: 1800px) {
	main section.activeContent {
		margin-right: 5px;
	}
}

@media (max-width: 1500px) {
	main div {
		width: calc(33% - 10px);
	}
}

@media (max-width: 1200px) {
	main div {
		width: calc(50% - 10px);
	}
}

@media (max-width: 900px) {
	main section.activeContent {
		margin-left: 250px;
	}
	main div {
		width: calc(100% - 10px);
	}
}



